/* -------- FIRST SECTION ----------- */
#first_index {
  /* display: grid;
  grid-column: 1 / 4; */
  width: 100%;
  background-image: url(svg/baggrund_2.svg);
  background-size: cover;
}
h1 {
  background-color: var(--color8);
  font-size: var(--space-xl);
  margin-top: var(--space-xl);
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
  text-align: center;
  color: var(--color6);
}
.splashtxt {
  background-color: var(--color8);
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
  padding: var(--space-sm);
  padding-bottom: var(--space-sm);
  color: var(--color6);
}
/* -------- SECOND SECTION ----------- */
h2 {
  margin: var(--space-sm);
  font-size: var(--space-lg);
}
#second_index p {
  margin: var(--space-sm);
}
#second_index img {
  padding: var(--space-xs);
}
#second_index .bottom {
  display: grid;
  aspect-ratio: 336/83;
  background-image: url(svg/button.svg);
  background-size: cover;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: var(--space-xs);
}
#second_index .bottom a {
  grid-column: 2/3;
  grid-row: 2;
  font-size: var(--space-md);
  text-align: center;
}
