h2 {
  font-size: var(--space-lg);
}
h3 {
  font-size: 1.2rem;
}
h2,
h3,
p {
  margin-bottom: var(--space-sm);
}
@media (max-width: 860px) {
  .section_wrapper {
    margin: var(--space-sm);
  }

  /* -------- FOURTH SECTION ----------- */
  #fourth_tema_fire a {
    font-size: 1.2rem;
  }
}
